<ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-positive tabs-icon-top">

  <ion-tab href="#/app/home" title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab href="#/app/settings" title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>