<ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-positive tabs-icon-top">

  <ion-tab href="#/app/home" title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab href="#/app/settings" title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/app/feeds" title="Feeds" icon-on="icon ion-email" icon-off="ion-ios-email-outline">
    <ion-nav-view name="feeds-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/app/header" title="Header" icon-on="icon ion-briefcase" icon-off="ion-ios-briefcase-outline">
    <ion-nav-view name="header-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/app/components" title="Components" icon-on="icon ion-clock" icon-off="ion-ios-clock-outline">
    <ion-nav-view name="components-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>